.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 35px;
        #menu-icon{
            font-size: 24px;
            cursor: pointer;
            color: var(--text-color);
            display: none;
        }
        .logo{
            font-size: 1.2rem;
            font-weight: 700;
            color: var(--text-color);
            span{
                color: var(--main-color);
            }
        }
        .navbar{
            display: flex;
            column-gap: 2rem;
            ul{
                li{
                    a{
                        color: var(--text-color);
                        font-size: 1rem;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                    a:hover, .active{
                        color: var(--main-color);
                        border-bottom: 3px solid var(--main-color);
                    }
                }
            }
        }
        #search-icon{
            font-size: 24px;
            cursor: pointer;    
        }
        .search-box{
            position: absolute;
            top: 110%;
            right: 0;
            left: 0;
            background: var(--bg-color);
            box-shadow: 4px 4px 20px rgb(15, 54, 55 / 10%) ;
            border: 1px solide var(--main-color);
            border-radius: 0.5rem;
            input{
                width: 100%;
                padding: 20px;
                border: none;
                outline: none;
                background: transparent;
                font-size: 1rem;
            }
        }
    }
}

