header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 35px;
        #menu-icon{
            font-size: 24px;
            cursor: pointer;
            color: var(--text-color);
            display: none;
        }
        .logo{
            font-size: 1.2rem;
            font-weight: 700;
            color: var(--text-color);
            span{
                color: var(--main-color);
            }
        }
        .navbar{
            display: flex;
            column-gap: 2rem;
                li{
                    a{
                        color: var(--text-color);
                        font-size: 1rem;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                    a:hover, .active{
                        color: var(--main-color);
                        border-bottom: 3px solid var(--main-color);
                    }
            }    
        }


       
           
        #search-icon{
            font-size: 24px;
            cursor: pointer;   
            color: var(--bg-color);
            transition: 0.5s;
        }
        #search-icon:hover{
            scale: (1.5);
        }
        
        .search-box{
            position: absolute;
            top: 110%;
            right: 0;
            left: 0;
            background: var(--bg-color);
            box-shadow: 4px 4px 20px #d90429 ;
            border: 1px solide var(--bg-color);
            border-radius: 0.5rem;
            clip-path: circle(0% at 100% 0%) ;
            input{
                width: 100%;
                padding: 20px;
                border: none;
                outline: none;
                background: transparent;
                font-size: 1rem;
            }
        }
        .active{
            clip-path: circle(144% at 100% 0%) ;
            transition: 0.4s;
        }
        
    }
}

header.shadow{
    background: var(--bg-color);
    transition: 0.5s ease;
    #search-icon{
        font-size: 24px;
        cursor: pointer;   
        color: var(--text-color);
        transition: 0.5s;
    }
}

