.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url("../img/Background-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    .home-text{
        padding-left: 130px;
        h1{
            font-size: 2.4rem;
            span{
                color: var(--main-color);
            }
        }
        p{
           font-size: 0.938rem;
           font-weight: 300;
           margin: 0.5rem 0 1.2rem; 
        }
        .btn{
            padding: 10px 22px;
            background: var(--main-color);
            color: var(--bg-color);
            font-weight: 400;
            transition: 0.3s;
        }
        .btn:hover{
            background: #fd052f;
            transform: scale(1.1);
        }
    }
}

.cars{
    .heading{
        text-align: center;
        span{
            font-weight: 500;
            color: var(--main-color);
        }
        p{
            font-size: 0.938rem;
            font-weight: 300;
        }
    }
    .cars-container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 2rem;
        .box{
            flex: 1 1 17rem;
            position: relative;
            height: 200px;
            border-radius: 0.5rem;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
            }
            img:hover{
                transform: scale(1.1);
                transition: 0.5s;
            }
            h2{
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                font-weight: 400;
                font-size: 1rem;
                background: var(--bg-color);
                padding: 8px;
                border-radius: 0.5rem;
            }
        }
        .box:hover{
            h2{
                background: var(--main-color);
                color: var(--bg-color);
            }
        }
    }
}

.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1+5rem;
    .about-img{
        flex: 1 1 21rem;
    }
    .about-text{
        flex: 1 1 21rem;
        span{
            font-weight: 500;
            color: var(--main-color);
        }
        h2{
            font-size: 1.7rem;
        }
        p{
            font-size: 0.938rem;
            margin: 0.5rem 0 1.4rem;
        }
    }
}

.parts{
    .heading{
        text-align: center;
        span{
            font-weight: 500;
            color: var(--main-color);
        }
        p{
            font-size: 0.938rem;
            font-weight: 300;
        }
    }
    .parts-container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 2rem;
        .box{
            flex: 1 1 17rem;
            position: relative;
            padding: 20px;
            display: flex;
            flex-direction: column;
            background: #f6f6f6;
            border-radius: 0.5rem;
            img{
                width: 100%;
                height: 150px;
                object-fit: contain;
                object-position: center;
                margin-bottom: 1rem;
                transition: 0.9s;
            }
            img:hover{
                transform: scale(1.2);
            }
            h3{
                font-size: 1.1rem;
                font-weight: 600;
            }
            span{
                font-size: 1.1rem;
                font-weight: 600;
                color: var(--main-color);
            }
            .bx{
                color: var(--main-color);
                margin: 0.8rem 0;
            }
          

            .btn{
                max-width: 120px;
                padding: 10px 22px;
                background: var(--main-color);
                color: var(--bg-color);
                font-weight: 400;
                transition: 0.3s;
            }
            .btn:hover{
                background: #fd052f;
                transform: scale(1.1);
            }
            .details{
                display: flex;
                align-items: center;
                position: absolute;
                bottom: 1.8rem;
                right: 1rem;
                font-size: 1rem;
                color: var(--text-color);
            }
            .details:hover{
                color: var(--main-color);
                text-decoration: underline;
            }
        }
    }
}

.blog{
    .heading{
        text-align: center;
        span{
            font-weight: 500;
            color: var(--main-color);
        }
        p{
            font-size: 0.938rem;
            font-weight: 300;
        }
    }
    .blog-container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 2rem; 
        .box{
            flex: 1 1 13rem;
            padding: 20px;
            span{
                font-size: 0.8rem;
                color: var(--main-color);
            }
            h3{
                font-size: 1.2rem;
            }
            p{
                font-size: 0.938rem;
                margin: 4px 0;
            }
            .blog-btn{
                display: flex;
                align-items: center;
                column-gap: 4px;
                color: var(--text-color);
                .bx{
                    font-size: 20px;
                }
            }
            .blog-btn:hover{
                color: var(--main-color);
                column-gap: 0.7rem;
                transition: 0.4s;
            }
        }
        .box:hover{
            background: #f6f6f6;
        }


    }
}


/* Making Responsive */

@media(max-width:1080px){
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media(max-width:991px){
    header{
        .nav{
            padding: 15px 20px;
        }
    }
   
    section{
        padding: 3rem 0 1rem;
        .home{
            .home-text{
                padding-left: 2rem;
                h1{
                    font-size: 22.1rem;
                }
            }
        }

        
    }
}

@media(max-width:920px){
    header{
        .nav{
            #search-icon{
                color: var(--text-color);
            }
        }
    }
}

@media(max-width:768px){
    header{
        .nav{
            padding: 10px 0 ;
            .search-box{
                input{
                    padding: 15px ;
                }
            } 
            #menu-icon{
                display: initial;
            }
            .navbar{
                position: absolute;
                top: 100%;
                right: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                background: var(--bg-color);
                row-gap: 0.5rem;
                text-align: center;
                box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
                a{
                    display: block;
                    padding: 15px;

                }
            }
        }
    }
}