.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url("../img/Background-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    .home-text{
        padding-left: 130px;
        h1{
            font-size: 2.4rem;
            span{
                color: var(--main-color);
            }
        }
        p{
           font-size: 0.938rem;
           font-weight: 300;
           margin: 0.5rem 0 1.2rem; 
        }
        .btn{
            padding: 10px 22px;
            background: var(--main-color);
            color: var(--bg-color);
            font-weight: 400;
            transition: 0.3s;
        }
        .btn:hover{
            background: #fd052f;
            transform: scale(1.1);
        }
    }
}

.cars{
    .heading{
        text-align: center;
        span{
            font-weight: 500;
            color: var(--main-color);
        }
        p{
            font-size: 0.938rem;
            font-weight: 300;
        }
    }
    .cars-container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 2rem;
        .box{
            flex: 1 1 17rem;
            position: relative;
            height: 200px;
            border-radius: 0.5rem;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
            }
            img:hover{
                transform: scale(1.1);
                transition: 0.5s;
            }
            h2{
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                font-weight: 400;
                font-size: 1rem;
                background: var(--bg-color);
                padding: 8px;
                border-radius: 0.5rem;
            }
        }
        .box:hover{
            h2{
                background: var(--main-color);
                color: var(--bg-color);
            }
        }
    }
}